body{
	background-image: url("../images/baseball.jpg");
	background-repeat: no-repeat ;
	background-size: 100%;
}

#timer, #homeTimer{
	font-family: 'Rammetto One', cursive;
	font-size: 40px;
	text-align: center;
	color: white;
}

#container {
	padding-top: 5px;

}
p{
	font-family: 'Rammetto One', cursive;
	font-size: 40px;
	text-align: center;
	color: white;
}

